<!DOCTYPE html>
<html>
<head>
	<title>Админ</title>
</head>
<body>
{% include "PlaningSystem/head.html" %}

<h2>{{ error }}</h2>
Пользователи:<br>
{% if not_active_users %}
	<form action="{% url 'activeUserAdmin' %}" method="get" name="userWishSave" id="UserId">
	Не активные пользователи:<br>
	{% for user in  not_active_users %}
		<input type="checkbox" name="not_active_user" value="{{ user.id }}" >{{ user.username }}<br>
	{% endfor %}
	<input type="submit" value="Активировать">
	</form>
	Активные:<br>
{% endif %}
{% for user in all_valid_users %}
	<li><a href="{% url 'user' user.id %}">{{ user.username }}</a></li>
{% empty %}
	НЕТУ!?<br>
{% endfor %}

<br>
Все рабочие места:<br>
	{% for workplace in all_workplaces %}
		<li><a href="{% url 'workplaceAdmin' workplace.id %}"> {{ workplace.name }} </a></li>
		{% empty %}
		нет рабочих мест<br>
	{% endfor %}
создать рабочее место
<li>
<form action="{% url 'workplaceAdminCreate' %}" method="get">
	<input type="text" name="name_wp">
	<input type="submit" value="создать">
</form>
</li>
<br>
Все ставки:<br>
	{% for rate in all_rates %}
		<li><a href="{% url 'rateAdmin' rate.id %}">
			{{ rate.name }}
		</a></li>
		{% empty %}
		No rates<br>
	{% endfor %}

<br>

</body>
</html>