<!DOCTYPE html>
<html>
<head>
    <title>Админ</title>
</head>
<body>
<form action="/PlaningSystem/" method="get" name="userWishSave" id="UserId">
Не активные пользователи:
<br>
{% for user in  not_active_users %}
<input type="checkbox" name="not_active_user" value="{{ user.id }}" >{{ user.username }}<br>
{% empty %}
{% endfor %}
<input type="submit" value="Активировать">
</form>
<br>
Все рабочие места:<br>
    {% for workplace in all_workplaces %}
        <li><a href="{% url 'workplaceAdmin' workplace.id %}"> {{ workplace.name }} </a></li>
        {% empty %}
        нет рабочих мест<br>
    {% endfor %}
<br>
Все ставки:<br>
    {% for rate in all_rates %}
        <li><a href="{% url 'rate' rate.id %}">
            {{ rate.name }}
        </a></li>
        {% empty %}
        No rates<br>
    {% endfor %}

Все активные пользователи:
<br>
    {% for user in all_valid_users %}
        <li><a href="{% url 'user' user.id %}">{{ user.username }}</a></li>
        {% empty %}
        No users<br>
    {% endfor %}
</body>
</html>