<!DOCTYPE html>
<html>
<head>
    <title>{{ scheldue.name }}</title>
</head>
<body>
Расписания:
 {% for scheldue in scheldues %}
        <li><a href="{% url 'scheldueAdmin' scheldue.id %}">
            {{ scheldue.name }}
        </a></li>
        {% empty %}
        нет рассписаний<br>
    {% endfor %}
<br>
Показать за период:
<form action="" method="get">
С:      <input type="date" name="since"  value="{{ since|date:"Y-m-d" }}" id="since"/>
По:     <input type="date" name="to" value="{{ to|date:"Y-m-d" }}" id="to"/><br>
<input type="submit" VALUE="Показать" >
</form>

<br>
{{ error }}
<table BORDER WIDTH="100%" >
    <tr>
        <th COLSPAN={{ ColomnNum }}>Рассписание</th>
    </tr>
    <tr>
        {% for month,duration in months %}
        <th colspan={{ duration }}>{{ month|date:'F, Y'}}</th>
        {% empty %}
        Период не задан или задан не верно<br>
        {% endfor %}
    </tr>
    <tr>
        {% for day in days %}
        <th colspan={{ QUANT_FOR_SCHELDUE }}>{{ day|date:'j' }}<br>{{ day|date:'l' }}</th>
        {% empty %}
        Период не задан или задан не верно<br>
        {% endfor %}
   </tr>
    <tr>
    {% for durSh in DurWithSh %}
            <td colspan="{{ durSh.0.duration }}">
            {% if durSh.0.hasShift %}
                <form action="{% url 'scheldueChangeShiftAdmin' scheldue.id %}" method="get">
                    С:      <input type="datetime-local" name="since-shift_id-{{ durSh.1.id }}"  value="{{ durSh.1.since|date:"c" }}" id="since"/>
                    По:     <input type="datetime-local" name="to-shift_id-{{ durSh.1.id }}" value="{{ durSh.1.to|date:"c" }}" id="to"/><br>
                <input type="submit" value="Сохранить">
                </form>
                <form action="{% url 'scheldueDeleteShiftAdmin' scheldue.id %}" method="get">
                           <input type="hidden" name="since-shift_id-{{ durSh.1.id }}"  value="{{ durSh.1.since|date:"c" }}" id="since"/>
                           <input type="hidden" name="to-shift_id-{{ durSh.1.id }}" value="{{ durSh.1.to|date:"c" }}" id="to"/><br>
                <input type="submit" value="Удалить">
                </form>
            {% else %}
                Пусто
            {% endif %}
            </td>
        {% empty %}
        <td> нет данных для отображения</td>
        {% endfor %}
    </tr>
</table>


<br>Добавить смену:
<form action="{% url 'scheldueNewShiftAdmin' scheldue.id %}" method="get">
    С:      <input type="datetime-local" name="since-new"  value="" id="since"/>
    По:     <input type="datetime-local" name="to-new" value="" id="to"/><br>
<input type="submit" value="Добавить">
</form>
<br>
<br>
Копировать смены:
<form action="{% url 'scheldueCopyShiftsAdmin' scheldue.id %}" method="get">
    С:      <input type="datetime-local" name="since-copy"  value="" id="since"/>
    По:     <input type="datetime-local" name="to-copy" value="" id="to"/><br>
    Вставить после <input type="datetime-local" name="after-copy" value="" id="to"/><br>
    <input type="submit" value="Вставить">
</form>


</body>
</html>