{% load i18n %}
<div id="login-wrap">
    {% if user.is_authenticated %}
        {% if user.is_superuser %}
            <a href="{% url 'admin' %}">моя страница</a>
            <a href="{% url 'admin:index' %}">Администрирование БД</a>
{#            <input type="submit" name="admin" value="Администрирование БД" class="ptserif"#}
{#            onclick="document.location='{% url 'admin:index' %}'; return false;"/>#}
        {% else %}
                <a href="{% url 'user' user.id %}">моя страница</a>
        {% endif %}
    <form method="post" action="{% url 'auth:logout' %}?next={% url 'index' %}">
        {% csrf_token %}
        <input type="submit" name="logout" value="Выход" class="ptserif"/>
    </form>
    {% else %}
    <form method="post" action="{% url 'auth:login' %}?next={% url 'index' %}">
        {% csrf_token %}
        <input type="text" name="username" maxlength="30" id="id_username" class="ptserif"/>
        <input type="password" name="password" id="id_password" class="ptserif"/>
        <input type="submit" name="login" value="Войти" class="ptserif"/>
    </form>
    <a href="{% url 'register_user' %}">зарегистрироваться</a>
    {% endif %}
</div>