<!DOCTYPE html>
<html>
<head>
    <title>index</title>
</head>
<body>
{% include "PlaningSystem/head.html" %}
All Users:<br>
    {% for user in users %}
        <li><a href="{% url 'user' user.id %}">{{ user.username }}</a></li>
{#        <img src="{{ user.avatar.url }}">{{ user.avatar.url }}<br>#}
        {% empty %}
        No users<br>
    {% endfor %}
All Workplaces:<br>
    {% for workplace in workplaces %}
        <li><a href="{% url 'workplace' workplace.id %}"> {{ workplace.name }} </a></li>
        {% empty %}
        No workplaces<br>
    {% endfor %}
All Rates:<br>
    {% for rate in rates %}
        <li><a href="{% url 'rate' rate.id %}">
            {{ rate.name }}
        </a></li>
        {% empty %}
        No rates<br>
    {% endfor %}
<br>
All Admins scheldue:<br>
    {% for rate in scheldues %}
        <li><a href="{% url 'scheldueAdmin' rate.id %}">
            {{ rate.name }}
        </a></li>
        {% empty %}
        No scheldues<br>
    {% endfor %}
<br>
<br>
<a href="{% url 'login' %}">login</a>
</body>
</html>