<!DOCTYPE html>
<html>
<head>
    <title>Здраствуйте</title>
</head>
<div id="login-wrap">
   Авторизуйтесь пожалуйста
    <form method="post" action="{% url 'auth:login' %}?next={{ request.path|urlencode }}">
        {% csrf_token %}
        <input type="text" name="username" maxlength="30" id="id_username" class="ptserif"/>
        <input type="password" name="password" id="id_password" class="ptserif"/>
        <input type="submit" name="login" value="Войти" class="ptserif"/>
    </form>
    или можете
    <a href="{% url 'register_user' %}">зарегистрироваться</a>
</div>
<body>
