<!DOCTYPE html>
<html>
<head>
    <title>Востановление пароля</title>
</head>
<body>
{% if pass_user %}
Здрасвуйте, {{ pass_user.username }}, для смены пароля:
<form  action="" method="post" enctype="multipart/form-data" >{% csrf_token %}
     Введите новый пароль:
    <input type="password" name="password1"><br>
     подтвердите новый пароль:
    <input type="password" name="password2"><br>
    <input type="submit" value="Сменить">
{{ message }}
</form>
{% else %}
    {{ error }}
{% endif %}

</body>
</html>